body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
header {
  padding: 50px 20px 150px;
  background-color: #ef9e82;
}
h1 {
  font-size: 5rem;
  margin: auto;
  width: 290px;
  height: 88px;
}

blockqoute {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  width: 305px;
  margin: 0 auto;
  display: block;
  line-height: 38px;
  padding-top: 150px;
  letter-spacing: -1px;
  color: #202020;
}

.color-q {
  color: #f2f2f2;
}

.block-intro {
  background-color: #9b9b9b;
  margin: 0;
  padding: 0;
}
.block-intro h2 {
  padding-top: 150px;
  margin-top: 0;
  text-align: center;
  font-size: 3em;
}
.block-intro p {
  font-size: 1.5em;
  text-align: center;
}

.person-container a {
  color: #a6a6a6;
  text-decoration: none;
  padding: 10px;
  border: #a6a6a6 0.5px solid;
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
}
#intro p a {
  color: #202020;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px auto;
  display: block;
  font-size: 16px;
  text-align: center;
}
.float-right {
  float: right;
  margin-right: 15%;
}
.float-left {
  float: left;
  margin-left: 17%;
}
.title {
  color: #f2f2f2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* form styles */

form {
  text-align: center;
  padding: 120px;
}

.name-label {
  margin-left: 24px;
}

#message-box-label {
  margin-left: 30px;
}

input {
  margin-bottom: 10px;
}

textarea {
  /* width: 350px;
  height: 150px; */
  vertical-align: top;
  /* margin-top: 10px; */
}

.clear {
  clear: both;
}

/* susan and cynthia */

h3 {
  color: #ff4c4c;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 35px;
  margin: 20px 0 0;
}
#people {
  width: 100%;
  height: 600px;
}

.block.block--black {
  background-color: #576b56;
  height: 650px;
}
.block.block--grey {
  background-color: #935c4d;
  height: 900px;
}

.block {
  width: 100%;
  height: 600px;
}

.block__text {
  float: left;
  margin-left: -40px;
  position: relative;
  width: 65%;
}
.block__text {
  background-color: rgba(155, 155, 155, 0.3);
  padding: 8px 15px 20px;
}
.block__img {
  float: left;
}

.block:first-child {
  padding: 100px 0;
}

section {
  width: 100%;
  height: 600px;
}

.person-container {
  width: 600px;
  height: 400px;
  /*   margin-left: 200px; */
}

/* nav menu styling */

.navbar {
  width: 50px;
  display: block;
  margin: 50px 0 auto 92%;
  float: right;
  /* border: 4px solid #00bfb6; */
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: fixed;
}

.navbar div {
  height: 8px;
  background: #ff4c4c;
  margin: 7px 0px;
  border-radius: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#navMenu {
  /* float: right; */
  background-color: rgba(33, 32, 39, 0.692);
  height: 100vh;
  width: 21vw;
  float: right;
  display: none;
  z-index: 1;
  position: fixed;
  margin: -50px 0 -1px 78%;
  text-align: center;
  padding-top: 150px;
}

#navMenu a:hover {
  color: #ff4c4c;
}

#close {
  float: right;
  margin-right: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 3px 14px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.two {
  width: 30px;
}
.three {
  width: 45px;
}
.navbar:hover div {
  width: 50px;
}

#contact {
  background-color: #9b9b9b;
}
#contact h3 {
  color: #202020;
}

form {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}

form input,
textarea {
  width: 100%;
}

form input {
  height: 22px;
}

button {
  padding: 5px;
  margin-top: 20px;
  float: right;
  width: 100px;
  background-color: #202020;
  border: 1px solid #000;
  border-radius: 7px;
  color: #f2f2f2;
  font-size: 1em;
}
button:hover {
  background-color: #ef9e82;
  border-color: #d78e75;
  color: #202020;
}
.form_input {
  line-height: 20px;
  padding: 10px;
  text-align: left;
}

footer {
  background-color: #202020;
  margin: 0;
}
footer p {
  pading: 0;
  margin: 0;
  color: #f2f2f2;
  font-size: 0.7rem;
  text-align: center;
  padding: 10px 0;
}

.names {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.names ol {
  list-style-type: none;
  margin: auto;
  width: 375px;
  text-transform: uppercase;
}
.names ol li {
  float: left;
  padding-right: 10px;
}
.name-fancy {
  font-family: 'Poppins', sans-serif;
}

h1:hover + .names{
  display: block;
}


/************************
* Media Queries
************************/

@media only screen and (max-width: 800px) {
  .float-left {
    margin-left: 10px
  }
  .float-right {
    margin-right: 10px;
  }

  .block__img {
    width: 180px;
    height: 180px;
  }

  .block__text h3 {
    font-size: 1.6rem;
  }

  .navbar {
    margin-left: 85%;
    z-index: 100;
  }
}

@media only screen and (max-width: 650px) {
  .float-left {
    float: none;
  }
  .float-right {
    float: none;
  }

  .navbar {
    margin-left: 85%;
  }
}

@media only screen and (max-width: 650px) {
  .block__text {
    width: 55%;

  }
  .block {
    height: 700px;
  }
}
